
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
    <link href="~/lib/waves/waves.css" rel="stylesheet" />
    <style>
        #colored-button .btn {
            color: #fff;
        }

        #colored-button a,
        #colored-button a:hover {
            background: #01BCFF;
        }

        #colored-button button,
        #colored-button button:hover {
            background: #1bb556;
        }

        #colored-button input,
        #colored-button input:hover {
            background: #ff4f0f;
        }
    </style>

    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/lib/waves/waves.js"></script>
   
    <script type="text/javascript">
        $(function () {
            Waves.init();
            Waves.attach('.flat-buttons', ['waves-button']);
            Waves.attach('.float-buttons', ['waves-button', 'waves-float']);
            Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
            Waves.attach('.adiv', ['waves-button', 'waves-float', 'waves-light']);
            Waves.attach('.adivinner', ['waves-button', 'waves-float']);
            Waves.attach('.flat-box', ['waves-block']);
            Waves.attach('.float-box', ['waves-block', 'waves-float']);
        })
    
    </script>
</head>
<body>
 
    <div>
        <p class="text-center">
            <a class="flat-buttons">Button A</a>
            <button class="flat-buttons">Button B</button>
            <input class="flat-buttons" type="submit" value="Button C">
        </p>

        <p id="colored-button" class="text-center">
            <a class="btn float-buttons">Button A</a>
            <button class="btn float-button-light">Button B</button>
            <input class="btn float-buttons" type="submit" value="Button C">
        </p>
    </div>

    <div class="flat-buttons" style="height:300px;width:500px;background-color:gray;">
        <div  class="float-box" style="height:150px;width:80%;background-color:#f00;">

        </div>
    </div>
</body>
</html>