
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>酷码岛--创意赋予代码灵魂</title>
    <link rel="stylesheet" href="~/lib/swiper/css/swiper.min.css">
    <link href="~/lib/swiper/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/lib/IsometricGrids/normalize.css" />
    @*<link rel="stylesheet" type="text/css" href="/lib/IsometricGrids/demo.css" />
        <link rel="stylesheet" type="text/css" href="/lib/IsometricGrids/component.css" />*@
    <link href="~/lib/metro/jquery.gridster.min.css" rel="stylesheet" />

    <link href="~/lib/waves/waves.css" rel="stylesheet" />
    <link href="~/lib/metro/metro.css" rel="stylesheet" />
    <!--[if IE]>
        <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontAwesome")

    <link href="~/lib/MyAnimation.css" rel="stylesheet" />
    <link href="~/lib/front_main.css" rel="stylesheet" />
    <link href="~/lib/main.css" rel="stylesheet" />

    <style>
        html, body {
            position: relative;
            height: 100%;
        }
        /*首页的nav样式*/
        .nav_style {
            position: fixed !important;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            line-height: 300px;
            color: #fff;
            font-size: 36px;
            text-align: center;
        }
        /*模仿锤子*/
        .movie {
            border-radius: 10px;
        }

        .movie__card {
            position: relative;
            height: 370px;
        }

            .movie__card.hover-in {
                transition: .3s ease-out;
            }

            .movie__card.hover-out {
                transition: .3s ease-in;
            }

        .movie [class*="layer"] {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
        }

        body {
            background-color: #1A1A1A;
        }

        .font_center {
            text-align: center;
        }

        .metro_four {
            height: 227px;
        }

        .item-box {
            transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid #c5d8db;
            height: 230px;
            box-sizing: border-box;
        }

        .img-area img {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            width: 100%;
        }

        .img-area {
            width: 100%;
            overflow: hidden;
            height: 170px;
        }

        .box-header {
            padding: 18px 25px;
            font-size: 14px;
            color: #373d41;
            box-sizing: border-box;
        }

        .item-appendix {
            font-size: 14px;
            padding-left: 0;
            line-height: 2;
            box-sizing: border-box;
            margin-bottom: 100px;
        }

        .tab {
            position: relative;
            height: 36px;
            line-height: 36px;
        }

        .tab-nav {
            position: relative;
            height: 36px;
        }

        .match-tab li {
            width: 130px;
        }

        .tab-nav li {
            float: left;
            height: 36px;
            line-height: 36px;
            overflow: hidden;
            cursor: pointer;
            color: #939393;
            font-size: 16px;
            text-align: center;
        }

        .tab-nav .current {
            color: white;
            font-weight: bold;
            border-bottom: 2px solid #00ab88;
        }

        .match-tab li {
            width: 130px;
        }

        .home-match-content {
            padding: 20px 0;
            overflow: hidden;
            zoom: 1;
        }

        .home-match-side {
            float: left;
            width: 180px;
            margin-right: 20px;
        }

        a {
            text-decoration: none;
        }

        .home-match-side img {
            display: block;
            width: 180px;
            height: 225px;
            border: 0;
        }

        .btn-long {
            display: block;
            margin-top: 10px;
            width: 180px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            text-align: center;
            color: #0b4c3f;
            font-weight: bold;
            background-position: 0 -346px;
            background-repeat: no-repeat;
            background-image: url(http://ossweb-img.qq.com/images/lol/v1/public-spr.png);
        }

        .home-match-news {
            position: relative;
            overflow: hidden;
            zoom: 1;
        }

        .event-tit {
            display: block;
            margin-bottom: 10px;
            font-size: 26px;
            color: #00A686;
            font-weight: bold;
            line-height: 30px;
        }

        .home-match-news .meta {
            font-size: 14px;
            line-height: 1.5;
            color: #ebecec;
        }

        .event-num {
            position: absolute;
            top: 0;
            right: 10px;
            height: 66px;
            text-align: center;
            color: #ebecec;
            font-size: 14px;
        }

            .event-num .fbig {
                font-size: 36px;
                color: #00a986;
                display: block;
                padding: 10px 0 5px;
                font-weight: bold;
                margin-bottom: 10px;
            }

        em {
            font-style: normal;
        }

        .event-txtlist {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #333333;
        }

            .event-txtlist .txtlist-nape {
                height: 28px;
                line-height: 28px;
            }

        .txtlist-nape {
            display: block;
            height: 24px;
            line-height: 24px;
            position: relative;
            padding: 0 50px 0 0;
            overflow: hidden;
            font-size: 14px;
        }

        .event-txtlist .lnk-type {
            display: none;
        }

        .txtlist-nape .lnk-type {
            margin-right: 5px;
            overflow: hidden;
            color: #555555;
        }

        .txtlist-nape .lnk-tit {
            color: #ebecec;
        }

        .txtlist-nape .date {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 24px;
            color: #bdbdbd;
        }

        .hd div {
            display: inline-block;
        }

        .aliyun-index-defence {
            position: relative;
            z-index: 1;
            text-align: center;
            text-decoration: none;
            font-size: 24px;
            color: #fff;
        }

        .Jevent_n1_act p {
            color: #EBECEC;
        }

        .article_leftblock {
            height: 165px;
            border: 1px;
            color: #0f9393;
            padding: 8px;
        }

        .article_leftblock_inner {
            height: 149px;
            background-color: #939393;
            transition: all 1s;
        }

            .article_leftblock_inner:hover {
                background-color: #00A986;
            }

        .txtlist-nape:hover {
            background-color: #2F2F2F;
        }

        .gridster .gs_w {
            z-index: 2;
            position: absolute;
            background-color: #00a986;
        }

    </style>


</head>
<body class="grid-loaded">
    @Html.Partial("_navigation")

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(http://file.runtoinfo.com/upload/image/201609/276361059365640415404147591.jpg)">
                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">内容</p>
            </div>

            <div class="swiper-slide" style="background-image:url(/img/banner1.png)"></div>
            <div class="swiper-slide" style="background-image:url(/img/banner2.png)"></div>
            <div class="swiper-slide" style="background-image:url(/img/banner3.png)"></div>
            <div class="swiper-slide" style="background-image:url(/img/banner4.png)"></div>
            <div class="swiper-slide" style="background-image:url(/img/banner5.png)"></div>

        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="">
        <div class="container font_center">
            <div style="margin-top:100px;">
                <span class="color_main" style="font-size:40px;"><strong>Welcome &nbsp; 酷码岛</strong></span>
            </div>
            <div style="margin-top:15px;margin-bottom:75px;">
                <div style="margin: 0 auto;width: 77%;">
                    <span class="font-secTitle" style="font-size:20px"><strong>创意赋予代码灵魂</strong>创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂创意赋予代码灵魂</span>
                </div>
            </div>
            <div class="row page" style="margin-bottom: 206px;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 metro_four" style="background-color:rgba(247,78,30,1);"><span>Web建站</span></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 metro_four" style="background-color:rgba(127,186,0,1);">App开发</div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 metro_four" style="background-color:rgba(0,164,239,1);">服务器/域名</div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 metro_four" style="background-color:rgba(255,185,0,1);">品牌推广</div>

            </div>
        </div>
    </div>
    <div class="bgcolor_metro2" style="height:500px;">
        <div class="container">

            <div class="col-lg-8" style="margin-top:65px;padding:0;">
                <div class="hd">
                    <div>
                        <h2 class="color_main"><i class="icon-match"></i>赛事中心</h2>
                    </div>

                    <div>
                        <a href="#" target="_blank" class="txt-more">进入文章</a>
                    </div>

                </div>

                <div class="tab match-tab">
                    <ul id="J_matchTab" class="tab-nav hero-nav">
                        <li class="">职业联赛</li>
                        <li class="">甲级职业联赛</li>
                        <li class="">德玛西亚杯</li>
                        <li class="current">高校联赛</li>
                        <li class="">城市英雄争霸赛</li>

                    </ul>
                </div>

                <div id="Jevent_n1" class="home-match-content" style="display: block;">
                    <div id="Jevent_n1_gg" class="home-match-side" rel="4677">
                        <a target="_blank" href="http://lol.qq.com/lpl/?atm_cl=ad&amp;atm_pos=4677&amp;e_code=202811&amp;idata_id=116853">
                            <img width="180" height="225" alt="" src="http://ossweb-img.qq.com/images/lol/v1/match/Jevent_n1.jpg">
                        </a>
                        <a class="mainspr btn-long" target="_blank" href="http://lol.qq.com/lpl/?atm_cl=ad&amp;atm_pos=4677&amp;e_code=202811&amp;idata_id=116853">
                            进入文章
                        </a>
                    </div>
                    <div class="home-match-news">
                        <div id="Jevent_n1_act" data-act="10797">
                            <a target="_blank" class="event-tit" href="http://lol.qq.com/match/lpl/ ">2016英雄联盟职业联赛夏季赛</a>
                            <p class="meta">时间：2016-05-26-2016-08-07</p>
                            <p class="meta">地点：上海虹桥天地演艺中心3F（多功能厅）</p>
                            <p class="mainspr event-num">
                                <em class="fbig">4200</em>万人关注
                            </p>
                        </div>
                        <ul id="Jevent_n1_inner" class="clearfix txtlist event-txtlist">
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201702/551263.shtml" class="lnk-tit" target="_blank" title="翠神首秀助LGD首胜 QG与VG大战将启">翠神首秀助LGD首胜 QG与VG大战将启</a>
                                <span class="date">02/10</span>
                            </li>
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201702/550448.shtml" class="lnk-tit" target="_blank" title="LGD对阵OMG 赛季首胜花落谁家？">LGD对阵OMG 赛季首胜花落谁家？</a>
                                <span class="date">02/09</span>
                            </li>
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201702/550516.shtml" class="lnk-tit" target="_blank" title="2017《英雄联盟》全球总决赛落地中国">2017《英雄联盟》全球总决赛落地中国</a>
                                <span class="date">02/08</span>
                            </li>
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201702/550510.shtml" class="lnk-tit" target="_blank" title="2017全球总决赛信息公布">2017全球总决赛信息公布</a>
                                <span class="date">02/08</span>
                            </li>
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201702/550508.shtml" class="lnk-tit" target="_blank" title="2017季中冠军赛信息公布">2017季中冠军赛信息公布</a>
                                <span class="date">02/08</span>
                            </li>
                            <li class="txtlist-nape">
                                <a href="/webplat/info/news_version3/152/5886/5887/m132/list_1.shtml" class="lnk-type">[赛事专区]</a><a href="/webplat/info/news_version3/152/5886/5887/m7085/201701/548417.shtml" class="lnk-tit" target="_blank" title="《英雄联盟》职业选手祝召唤师新春快乐！">《英雄联盟》职业选手祝召唤师新春快乐！</a>
                                <span class="date">01/24</span>
                            </li>


                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-4" style="height:600px;">
                <div style="height:330px;margin-left: 18px; margin-top: 158px;border:1px solid #1f1f1f;">
                    <div class="col-lg-6 article_leftblock">
                        <div class="boxes float-box article_leftblock_inner">个人</div>
                    </div>
                    <div class="col-lg-6 article_leftblock">
                        <div class="article_leftblock_inner">闲言</div>
                    </div>
                    <div class="col-lg-6 article_leftblock">
                        <div class="article_leftblock_inner"></div>
                    </div>
                    <div class="col-lg-6 article_leftblock">
                        <div class="article_leftblock_inner"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="bgcolor_metro2" style="height:100px;">

    </div>

    <div class="ali-main-defence"
         id="ali-main-defence" style="background-image: url(/img/ali-main-defence-wrapper.png);height:100px;">

    </div>




    <div class="cd-main-content">
        <!-- 上面 -->
        <!--<div class="cd-scrolling-bg cd-color-2  style="height:0%;">
            <div class="cd-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
                </p>
            </div>
        </div> -->
        <!-- 中间 -->
        <div class="cd-fixed-bg cd-bg-2">

            <section class="demo metro_demo">

                <div class="gridster container">
                    <ul class="metro">
                        <li class="boxes float-box" data-row="1" data-col="1" data-sizex="2" data-sizey="1"></li>
                        <li class="float-box" data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="3" data-col="2" data-sizex="2" data-sizey="1"></li>
                        <li class="float-box" data-row="1" data-col="2" data-sizex="2" data-sizey="2"></li>
                        <li class="float-box try" data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
                        <li class="float-box" data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
                        <li class="float-box" data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>
                    </ul>
                </div>

            </section>
        </div>
        <!-- 底部 -->
        <!--<div class="cd-scrolling-bg cd-color-3 style="height:0%;">
            <div class="cd-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!

                </p>
            </div>
        </div>  -->


    </div> <!-- cd-main-content -->

    <div class="container">
        <div style="margin-top: 60px;">
            <div><h1 class="color_main">热门插件</h1></div>
        </div>

    </div>

    <div style="height:1000px;">

    </div>
    <div id="view" class="grid-loaded">
        <section class="section section--intro">
            <div class="isolayer isolayer--deco1 isolayer--shadow" style="transform-style: preserve-3d; transform: translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg);">
                <ul class="grid grid--loaded" style="position: relative; width: 1200px; height: 2100px;">
                    <li class="grid__item" style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;">
                            <div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div>
                            <div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div>
                            <div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div>
                            <img class="grid__img layer" src="/img/Dribbble/1.png" alt="01" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                        </a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 0px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/2.png" alt="02" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 0px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/3.png" alt="03" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 300px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/4.png" alt="04" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 300px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/5.png" alt="05" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 450px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/6.png" alt="06" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 600px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/7.png" alt="07" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 600px;">
                        <a class="grid__link" href="#"><div class="layer"></div><div class="layer"></div><div class="layer"></div><img class="grid__img layer" src="/img/Dribbble/8.png" alt="08"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 750px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/9.png" alt="09" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 900px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/10.png" alt="10" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 900px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/1.png" alt="01" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 1050px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/2.png" alt="02" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 1200px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/3.png" alt="03" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 1200px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/4.png" alt="04" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 1350px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/5.png" alt="05" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 1500px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/6.png" alt="06" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 1500px;">
                        <a class="grid__link" href="#"><div class="layer"></div><div class="layer"></div><div class="layer"></div><img class="grid__img layer" src="/img/Dribbble/7.png" alt="07"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 400px; top: 1650px; z-index: 1;">
                        <a class="grid__link" href="#" style="z-index: 1;"><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><div class="layer" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></div><img class="grid__img layer" src="/img/Dribbble/8.png" alt="08" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 0px; top: 1800px;">
                        <a class="grid__link" href="#"><div class="layer"></div><div class="layer"></div><div class="layer"></div><img class="grid__img layer" src="/img/Dribbble/9.png" alt="09"></a>
                    </li>
                    <li class="grid__item" style="position: absolute; left: 800px; top: 1800px;">
                        <a class="grid__link" href="#"><div class="layer"></div><div class="layer"></div><div class="layer"></div><img class="grid__img layer" src="/img/Dribbble/10.png" alt="10"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div style="background-color:black">
        <img src="~/img/lzs.jpg" style="float:right" />
    </div>
    @*<div class="container">

        <div class="movie">
            <div class="movie__card">
                <div class="layer-1" style="background-image: url(/img/baner1.png);background-size: cover;">
                </div>
            </div>
        </div>

    </div>*@
    <div style="height:200px;">

    </div>


    <SCRIPT SRC="HTTP://WWW.JQ22.COM/JQUERY/1.11.1/JQUERY.MIN.JS"></SCRIPT>


    <script src="~/lib/swiper/swiper-3.4.1.jquery.min.js"></script>
    <script src="~/lib/swiper/js/swiper.animate1.0.2.min.js"></script>
    <script type="text/javascript">

        var mySwiper = new Swiper('.swiper-container', {
            //direction: 'vertical',全部展开
            loop: true,
            autoplay: 8000, //自动滑动
            speed: 2000,
            autoplayDisableOnInteraction: false,
            //effect: 'fade',
            // 如果需要分页器
            //  pagination: '.swiper-pagination',
            //  paginationClickable: '.swiper-pagination',
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            //keyybaoard
            keyboardControl: true,
            //
            // mousewheelControl : true,

            // 如果需要滚动条
            scrollbar: '.swiper-scrollbar',
            //动画
            onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
                swiperAnimateCache(swiper); //隐藏动画元素
                swiperAnimate(swiper); //初始化完成开始动画
            },
            onSlideChangeEnd: function (swiper) {
                swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
            }
        })
    </script>


    <script src="/lib/IsometricGrids/modernizr.custom.js"></script>
    <script src="/lib/IsometricGrids/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/IsometricGrids/masonry.pkgd.min.js"></script>
    <script src="/lib/IsometricGrids/dynamics.min.js"></script>
    <script src="/lib/IsometricGrids/main.js"></script>
    <script src="/lib/IsometricGrids/classie.js"></script>
    <script>
        (function () {
            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            new IsoGrid(document.querySelector('.isolayer--deco1'), {
                transform: 'translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg)',
                stackItemsAnimation: {
                    properties: function (pos) {
                        return {
                            translateZ: (pos + 1) * 30,
                            rotateZ: getRandomInt(-4, 4)
                        };
                    },
                    options: function (pos, itemstotal) {
                        return {
                            type: dynamics.bezier,
                            duration: 500,
                            points: [{ "x": 0, "y": 0, "cp": [{ "x": 0.2, "y": 1 }] }, { "x": 1, "y": 1, "cp": [{ "x": 0.3, "y": 1 }] }],
                            delay: (itemstotal - pos - 1) * 40
                        };
                    }
                }
            });
        })();
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/lib/Material/material.js"></script>
        <script src="~/lib/Material/ripples.js"></script>
        <script src="~/lib/Material/jquery.dropdown.js"></script>
        <script src="~/lib/Material/jquery.nouislider.min.js"></script>*@
    <script src="~/lib/metro/jquery.gridster.js"></script>
    <script src="~/lib/waves/waves.js"></script>
    <script src="~/lib/main.js"></script>
    <script>
        var gridster;
        $(function () {
            //$.material.init();
            //nav
            $("#bar1").xq_navbar({ "type": "underline", "liwidth": "avg", "bgcolor": "#000", "hcolor": "#009688" });
            //metro
            gridster = $(".gridster > ul").gridster({
                widget_margins: [5, 5],
                widget_base_dimensions: [170, 170],
                min_cols: 6
            }).data('gridster');

            Waves.init();
            Waves.attach('.button', ['waves-button', 'waves-float']);
            Waves.attach('.float-box', ['waves-block', 'waves-float']);
            $(".gs_w").on("click", function () {
                alert(1);
                Waves.init();
                Waves.attach('.gs_w', ['waves-block', 'waves-float']);
            })
        });
    </script>


    <script>
        (function ($) {

            $.fn.hover3d = function (options) {

                var settings = $.extend({
                    selector: null,
                    //	perspective   : 1000,
                    sensitivity: 20,
                    invert: false,
                    shine: false,
                    hoverInClass: "hover-in",
                    hoverOutClass: "hover-out",
                    hoverClass: "hover-3d"
                }, options);

                return this.each(function () {

                    var $this = $(this),
                        $card = $this.find(settings.selector);

                    if (settings.shine) {
                        $card.append('<div class="shine"></div>');
                    }
                    var $shine = $(this).find(".shine");
                    $this.css({
                        perspective: settings.perspective + "px",
                        transformStyle: "preserve-3d"
                    });
                    $card.css({
                        perspective: settings.perspective + "px",
                        transformStyle: "preserve-3d",
                    });

                    $shine.css({
                        position: "absolute",
                        top: 0,
                        left: 0,
                        bottom: 0,
                        right: 0,
                        "z-index": 9
                    });

                    // Mouse Enter function, this will add hover-in
                    // Class so when mouse over it will add transition
                    // based on hover-in class
                    function enter() {
                        $card.addClass(settings.hoverInClass + " " + settings.hoverClass);

                        setTimeout(function () {
                            $card.removeClass(settings.hoverInClass);
                        }, 1000);
                    }

                    // Mouse movement Parallax effect
                    function move(event) {
                        var w = $this.innerWidth(),
                            h = $this.innerHeight(),
                            ax = settings.invert ? (w / 2 - event.offsetX) / settings.sensitivity : -(w / 2 - event.offsetX) / settings.sensitivity,
                            ay = settings.invert ? -(h / 2 - event.offsetY) / settings.sensitivity : (h / 2 - event.offsetY) / settings.sensitivity;
                        dy = event.offsetY - h / 2,
                        dx = event.offsetX - w / 2,
                        theta = Math.atan2(dy, dx),
                        angle = theta * 180 / Math.PI - 90;

                        if (angle < 0) {
                            angle = angle + 360;
                        }


                        $card.css({
                            perspective: settings.perspective + "px",
                            transformStyle: "preserve-3d",
                            transform: "rotateY(" + ax + "deg) rotateX(" + ay + "deg)"
                        });

                        $shine.css('background', 'linear-gradient(' + angle + 'deg, rgba(255,255,255,' + event.offsetY / h * .5 + ') 0%,rgba(255,255,255,0) 80%)');
                    }

                    // Mouse leave function, will set the transform
                    // property to 0, and add transition class
                    // for exit animation
                    function leave() {
                        $card.addClass(settings.hoverOutClass + " " + settings.hoverClass);
                        $card.css({
                            perspective: settings.perspective + "px",
                            transformStyle: "preserve-3d",
                            transform: "rotateX(0) rotateY(0)"
                        });
                        setTimeout(function () {
                            $card.removeClass(settings.hoverOutClass + " " + settings.hoverClass);
                        }, 1000);
                    }

                    // Mouseenter event binding
                    $this.on("mouseenter", function () {
                        return enter();
                    });

                    // Mousemove event binding
                    $this.on("mousemove", function (event) {
                        return move(event);
                    });

                    // Mouseleave event binding
                    $this.on("mouseleave", function () {
                        return leave();
                    });

                });

            };

        }(jQuery));
    </script>

    <script>
        $(document).ready(function () {
            $(".project").hover3d({
                selector: ".project__card",
                shine: false,
            });

            $(".movie").hover3d({
                selector: ".movie__card",
                shine: true,
                sensitivity: 20,
            });
        });

    </script>
   
</body>
</html>
