*.cache
*.dll
/Amayer.Info/bin/*
/Amayer.Info/obj/*
/Amayer.Info.CL/bin/*
/Amayer.Info.CL/obj/*
/Amayer.Com/bin/*
/Amayer.Com/obj/*
/test/bin/*
/test/obj/*

Amayer.Com/obj/
Amayer.Info/App_Data/Log/
Amayer.Test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
packages/
Amayer.Test/obj/
