
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Hp/Views/Shared/_LayoutPage.cshtml";
}
@section head{
    
     <link href="~/libs/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    }
@section scripts{
    <script src="~/libs/css/plugins/bootstrap-table/bootstrap-table.js"></script>
<script>
           window.operateEvents = {
              
               'click .btn_seal': function (e, value, row, index) {
                   console.log(row);
                   $.post("/product/StopOrOpenSeal", { productId: row.Id, status: 1 }, function (data) {
                       $('#table').bootstrapTable('refresh', {})
                   })
               },
           }
    var column = [     
            {
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            },
               { title: "货号", field: "id", },
               { title: "标题", field: "title" },
               { title: "描述", field: "descript", },
               { title: "日期", field: "createTime", },
              // { title: "状态", formatter: isseal },
               { title: "操作", events: operateEvents, formatter: operateFormatter, },//自定义方法，添加操作按钮
           ];

           var table = $('#table').bootstrapTable({
               url: '/hp/article/getlist',
               method: 'post',
               striped: true,
               pagination: true,
               uniqueId: "id",                    //每一行的唯一标识，一般为主键列
               checkboxHeader: true,
               clickToSelect: true,
               // singleSelect: true,
               pageNumber: 1,                       //初始化加载第一页，默认第一页
               pageSize: 25,
               pageList: [10, 15, 25, 50, 100],
               // queryParams: queryParams,//参数
               sidePagination: "server", //服务端请求
               search: true,
               strictSearch: true,
               showColumns: true,                  //是否显示所有的列
               showRefresh: true,                  //是否显示刷新按钮
               showToggle: true,                    //是否显示详细视图和列表视图
               clickToSelect: true,                //是否启用点击选中行
               columns: column,
               //onClickRow: function (row, $element) {
               //    console.log(row);
               //    console.log($element);
               //}
           });



           function isseal(value, row, index) {//赋予的参数
               if (row.Isseal) {
                   return ' <span class="label label-primary">在售</span>'
               } else {
                   return ' <span class="label label-danger">禁售</span>'
               }
           }

           function operateFormatter(value, row, index) {//赋予的参数
              // var s = row.OrderStatus;
               return ' <div class="btn-group"><a class="btn btn-sm btn-dark" href="/hp/article/edit/'+row.id+'">查看</a><button class="btn btn-sm btn-dark  btn_seal">启售</button> </div>'
           }
   

</script>
}


<div class=" header" style="">
    <div class="col-md-4 col-lg-4 ">
        <ol class="breadcrumb">
            <li><a href="~/">管理首页</a></li>
            <li><a href="#">文章管理</a></li>
            <li class="active"><strong>文章列表</strong></li>
        </ol>
    </div>
    <div class="col-md-8 col-lg-8 text-right">
       
        <ul class="nav navbar-nav  navbar-right">
            <li ><a href="#"><i class="glyphicon glyphicon-refresh" aria-hidden="true">刷新</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list">多选</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-plus">添加</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-pencil">编辑</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-trash" aria-hidden="true">删除</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>


<div style="height:2000px">         
 
    <div class="container-fluid" id ="list" style="margin-top: 100px;margin-bottom: 100px;">
        
        <table id="table"></table>



    </div>

  

</div>

