/*用来控制nav*/
/*.xq_bag { width: 1200px; height: 50px; overflow: hidden; position: relative; margin: 100px auto; }
.xq_navbar { width: 100%; height: 50px; overflow: hidden; box-sizing: border-box; box-sizing: inherit; }
.xq_navli { list-style: none; display: inline-block; color: #fff; box-sizing: inherit; text-align: center; float: left; }
.xq_navli a { display: block; color: currentcolor; text-decoration: none; }*/
* {
    margin: 0;
    padding: 0;
}
.a{
    cursor:pointer;
}
.shaddow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.xq_move {
    transition: all .3s ease-in-out;
    position: absolute;
}

.color_main{
      background-color: #009688;
}
.color_hui{
     background-color: #E4E4E4;
}